.heading {
    font-size: 8rem;
    margin-left: -70px;
    z-index: -5;
    margin-bottom: -40px;
    color: #e3ecf6;
}

@media(max-width: 769px) {
    .heading {
        margin-left: -20px;
        margin-bottom: 0;
        font-size: 4rem;
    }
}

@media(mind-width: 770px) and (max-width: 1040px) {
    .heading {
        margin-left: -20px;
        margin-bottom: 0;
        font-size: 4rem;
    }
}