.heading {
    font-size: 4rem;
    margin-left: -20px;
    z-index: -5;
    margin-bottom: 0;
    // color: #e3ecf6;
    color: #e2e8ee;
}

@media (min-width: 770px) and (max-width: 1058px) {
    .heading {
        margin-left: -20px;
        margin-bottom: 0;
        font-size: 6rem;
    }
}

@media(min-width: 1059px) {
    .heading {
        margin-left: -70px;
        margin-bottom: -40px;
        font-size: 8rem;
    }
}

.test {
    background: blue-lightest;
}